<!-- start navigasi -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Stridia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" >Product</a>
            </li>
            <!-- <li class="nav-item">
               <a class="nav-link" [routerLink]="['/transaksi']" routerLinkActive="router-link-active" >Transaksi</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['/kasir']" routerLinkActive="router-link-active" >Kasir</a>
            </li> -->
            
             <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Keluar</a>
            </li>
      </ul>
    </div>
  </div>
</nav>

<!-- end navigasi -->
<!-- Start Sidebar -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-2 py-4">
      <ul class="list-group">
        <!-- produk -->
        <li class="list-group-item list-group-item-primary"> <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" > Produk</a></li>
        <li class="list-group-item">Kelola Produk</li>
        <li class="list-group-item">Diskon</li>
        <li class="list-group-item">Kategory Produk</li>
        <!-- Toko -->
        <li class="list-group-item list-group-item-primary">Kelola Toko</li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/laporan']" routerLinkActive="router-link-active" class="nav-link" >Pembayaran</a>  </li>
        <li class="list-group-item" ><a class="nav-link" [routerLink]="['/laporan']" routerLinkActive="router-link-active" >Outlet</a> </li>
        <li class="list-group-item">Inventory</li>
        <!-- Transaksi -->
        <li class="list-group-item list-group-item-primary"><a class="nav-link" href="/transaksi">Transaksi</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/kasir']" routerLinkActive="router-link-active" >Penjualan</a></li>
        <li class="list-group-item">Pembelian</li>
        <!-- Pengaturan -->
        <li class="list-group-item list-group-item-primary">Pengaturan</li>
        <li class="list-group-item">Karyawan</li>
      </ul>
    </div>


      <div class="col-xl-10 pt-4">
        <div class="container">
          <div class="row">
            <div class="col ">
              <label for="" class="">Periode</label>
              <div class="input-group mb-3">
                
                <input type="date" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text text-light bg-primary" id="basic-addon2"><i class="bi bi-calendar3"></i></span>
              </div>
            </div>
            <div class="col mt-4">
              <div class="input-group mb-3">
                <label for="" class=""></label>
                <input type="date" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text text-light bg-primary" id="basic-addon2"><i class="bi bi-calendar3"></i></span>
              </div>
            </div>
            <div class="col">
              <label for="cash" >Jenis Pembayaran</label>
              <select class="form-control" id="cash">
                <option>-- Pilih --</option>
                <option>Tunai</option>
                <option>Debit</option>
              </select>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col ">
              <label for="cash" >Kasir</label>
              <select class="form-control" id="cash">
                <option>-- Pilih --</option>
                <option>Saya</option>
                <option>Dia</option>
                <option>Kamu</option>
              </select>
            </div>
            <div class="col">
              <label for="cash" >Customer</label>
                <select class="form-control" id="cash">
                  <option>-- Pilih --</option>
                  <option>Member</option>
                  <option>Non-Member</option>
                </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary mx-3" (click)="cetakLaporan()">Tampilkan</button>
              <button class="btn btn-danger mx-3" (click)="download()">PDF</button>
              <button class="btn btn-success mx-3">Excel</button>
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <div pdf-content="element-to-download" class="container">
        <table id="table" class="table">
          <tr>
            <th scope="col">No</th>
            <th scope="col">ID transaksi</th>
            <th scope="col">Waktu</th>
            <th scope="col">Kasir</th>
            <th scope="col">Total Transaksi</th>
            <th scope="col">Jenis Pembayaran</th>
            <th scope="col">Customer</th>
          </tr>
          <tbody>
            <tr *ngFor="let customer of customers;">
              <td>{{customer.id}}</td>
              <td>{{customer.idTransaksi}}</td>
              <td>{{customer.waktu}}</td>
              <td>{{customer.kasir}}</td>
              <td>{{customer.totalTrans}}</td>
              <td>{{customer.jnsPembayaran}}</td>
              <td>{{customer.customer}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
  